server:
  port: 8081
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/smartiot?useSSL=false
    username: smartiot
    password: smartiot

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update

redis:
  host: localhost
  port: 6379
  server_id: server_app
  socket_server_id: server_socket

config:
  socket_timeout: 300000
  bluetooth_timeout: 600000